/*@keyframes example {
    0%   {background-color: red; left:0px; top:0px; -webkit-transform: rotateY(0deg);}
    25%  {background-color: yellow; left:200px; top:0px; -webkit-transform: rotateY(180deg);}
    50%  {background-color: blue; left:200px; top:200px; -webkit-transform: rotateY(360deg);}
    75%  {background-color: green; left:0px; top:200px; -webkit-transform: rotateY(540deg);}
    100% {background-color: red; left:0px; top:0px; -webkit-transform: rotateY(720deg);}
}

div {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}*/

/*div {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px;
  background-color: red;
  -webkit-transition: width 4s;
}

div:hover {
  width: 100px;
}*/



body {
  background-color: orange;
}

.container {
  width: 920px;
}

header {
  width: 900px;
  height: 150px;
  border: 1px solid black;
}

nav {
  width: 900px;
  height: 90;
  border: 1px solid black;
}

main {
  width: 900px;
  height: 300px;
  border: 1px solid black;
}

footer {
  width: 900px;
  height: 90;
  border: 1px solid black;
}


